.boxCss {
    width: 6.66vw;
    height: 6vh;
    background-color:white;
    position: relative;
    display: inline;
    float: left;
    border-right: 0.2px solid grey;
    border-bottom: 0.2px solid grey;
}
.elePosition {
    display: inline-block;
    position: absolute;
    background-color: yellow;
}