:host{
    text-align: center;
}

.playerInfoBox {
    height: 6vh;
    width: 35vw;
    display: flex;
    float:left;
    border: 1px solid grey;

}

.playerInfoGapBox {
    height: 6vh;
    width: 20vw; 
    display: flex; 
    float: left;
    border: 1px solid grey;
}

.playerBox {
    height: 36vh;
    width: 35vw;
    display: flex;
    float:left;
}

.pathBox {
    height: 36vh; 
    width: 20vw; 
    display: flex; 
    float: left;
    border-bottom: 1px solid grey;

}

.endBox {
    height: 23vh; 
    width: 20vw; 
    display: flex;
    float: left;
}

.secondLinePathBox {
    height: 23vh; 
    width: 35vw; 
    display: flex;
    float: left;
}